{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Adicionar Novo Lote para {{ tipo_produto.nome }}</title>
    <link rel="stylesheet" href="{% static 'produtos/estoque_lista.css' %}">
    <link rel="stylesheet" href="{% static 'produtos/cadastra_lote.css' %}">
</head>

<body>
    <h1>Adicionar Novo Lote para {{ tipo_produto.nome }}</h1>

    <div class="form-container">
        <form method="post">
            {% csrf_token %}

            <div class="form-group">
                <div class="form-grid-2-col">

                    <div class="form-group-item">
                        <label for="{{ form.quantidade_pacotes.id_for_label }}">Quantidade:</label>
                        {{ form.quantidade_pacotes }}
                        {{ form.quantidade_pacotes.errors }}
                    </div>

                    {% if tipo_produto.unidade_medida != 'NA' %}
                    <div class="form-group-item">
                        <label for="{{ form.quantidade_por_pacote.id_for_label }}">Peso/Volume por Pacote:</label>
                        <div class="form-unidade-wrapper">
                            {{ form.quantidade_por_pacote }}
                            <span class="unidade-display">{{ tipo_produto.get_unidade_medida_display }}</span>
                        </div>
                        {{ form.quantidade_por_pacote.errors }}
                    </div>
                    {% else %}
                    <div class="form-group-item">
                        <p class="unidade-na-info">UoM não aplicável. Quantidade rastreada por Pacotes/Itens.</p>
                    </div>
                    {% endif %}
                </div>
            </div>

            {% for field in form %}

            {% if field.name == 'quantidade_pacotes' or field.name == 'quantidade_por_pacote' %}
            {% comment %} Ignorado, já renderizado {% endcomment %}

            {% elif field.name == 'data_fabricacao' %}
            {% if tipo_produto.possui_data_fabricacao %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                {{ field }}
            </div>
            {% endif %}

            {% elif field.name == 'data_validade' %}
            {% if tipo_produto.possui_data_validade %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                {{ field }}
            </div>
            {% endif %}

            {% else %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                {{ field }}
            </div>
            {% endif %}

            {% if field.errors %}
            <ul class="errorlist">
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endfor %}
            <button type="submit" class="button-cadastro">Cadastrar Lote</button>
        </form>
    </div>

    <div class="rodape-link">
        <a href="{% url 'listar_lotes' tipo_produto.id %}" class="link-cancelar">Cancelar e Voltar para os Lotes</a>
    </div>
</body>

</html>