{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Excluir Lote {{ lote.id }}</title>
    <link rel="stylesheet" href="{% static 'produtos/estoque_lista.css' %}">
    <link rel="stylesheet" href="{% static 'produtos/excluir_tipo_lote.css' %}"> 
</head>

<body>
    <h1>Excluir Lote #{{ lote.id }}</h1>

    <div class="alerta-perigo">
        <h2>Atenção! Confirmação de Exclusão</h2>
        <p>Você está prestes a <strong>EXCLUIR PERMANENTEMENTE</strong> o lote a seguir. Esta ação não pode ser desfeita.</p>
        <p>Confirme os detalhes do lote que será removido:</p>
    </div>

    <div class="lote-detalhes-excluir">
        <p>Produto: <strong>{{ lote.tipo_produto.nome }}</strong></p>
        <p>Quantidade: <strong>{{ lote.quantidade }} unidades</strong></p>
        <p>Data de Validade: {{ lote.data_validade|date:"d/m/Y" }}</p>
    </div>

    <form method="post" class="exclusao-form">
        {% csrf_token %}
        
            <button type="submit" class="button-danger-grande">
                Confirmar Exclusão
            </button>
    </form>
    
    <a href="{% url 'listar_lotes' lote.tipo_produto.id %}" class="link-voltar-grande">Cancelar e Voltar</a>
</body>
</html>