body {
  font-family: sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

.pedido-info,
.itens-lista,
.form-adicionar {
  margin-bottom: 2em;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: center;
  border: 1px solid #dddddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

.messages {
  list-style: none;
  padding: 0;
  margin: 1em 0;
}
.messages li {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-weight: bold;
}
.messages li.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}
.messages li.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.link-finalizar {
  width: 100%; 
  padding: 12px;
  background-color: #218838; 
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 1.1em;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
  text-decoration: none;
}

.link-finalizar:hover {
  background-color: #28a745;
}

.link-pedidos {
  width: 100%; 
  padding: 12px;
  background-color: #004d99; 
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 1.1em;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
  text-decoration: none;
}

.link-pedidos:hover {
  background-color: #0066cc;
}
