body {
  font-family: sans-serif;
}
.container {
  width: 80%;
  margin: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
}
th,
td {
  border: 1px solid #dddddd;
  padding: 8px;
  vertical-align: middle; 
}
th {
  background-color: #f2f2f2;
}

.messages {
  list-style: none;
  padding: 0;
  margin: 1em 0;
}
.messages li {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.messages li.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}
.messages li.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.btn {
  display: inline-block;
  padding: 4px 10px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f0f0f0;

  color: black !important;
  text-decoration: none !important;
}

.btn:hover {
  background-color: #e0e0e0;
}

.link-voltar {
    color: #004d99;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
}

.link-voltar:hover {
    text-decoration: underline;
}
