body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 20px;
}

.container-lista {
    background-color: #ffffff;
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

h1 {
    color: #004085;
    margin-top: 0;
    margin-bottom: 5px;
}

p.descricao {
    color: #666666;
    margin-bottom: 25px;
}

p.aviso-status {
    padding: 20px;
    color: #666666;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

thead {
    background-color: #0056b3;
    color: #ffffff;
}

th {
    padding: 15px;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9em;
}

td {
    padding: 15px;
    border-bottom: 1px solid #e9ecef;
    color: #495057;
    vertical-align: middle;
}

tr:nth-child(even) { background-color: #f8f9fa; }

.badge {
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    color: #ffffff;
    min-width: 80px;
    text-align: center;
}
.badge-aprovado { background-color: #28a745; }
.badge-pendente { background-color: #ffc107; color: #212529; }
.badge-rejeitado { background-color: #dc3545; }


.btn-acao {
    background-color: rgb(106, 114, 123); /* VERDE */
    color: #ffffff;
    padding: 6px 12px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    margin-right: 5px;
    display: inline-block;
    border: 1px solid rgb(106, 114, 123);
}
.btn-acao:hover {
    background-color: #525fd3;
    color: #ffffff;
}

.btn-excluir {
     background-color: #0A66C2;
    color: #ffffff;
    padding: 6px 16px;
    border-radius: 6px;
    font-weight: 600;
    border: none;
}
.btn-excluir:hover { background-color: #c82333; }


.acoes-rodape {
    display: flex;
    justify-content: space-between; /* Um na ponta esquerda, outro na direita */
    align-items: center;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #eeeeee;
}

.btn-voltar {
    background-color: #6c757d;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}
.btn-voltar:hover { background-color: #5a6268; }

.btn-novo {
    background-color: #0056b3;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}
.btn-novo:hover { background-color: #004494; }