{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Editar Usuário</title>
    <link rel="stylesheet" href="{% static 'usuarios/criar_usuario.css' %}">
</head>
<body>

    <div class="form-container">
        <h2 class="titulo-pagina">Editando: {{ usuario.username }}</h2>

        <form method="post">
            {% csrf_token %}
            
            {{ form.as_p }} 

            <button type="submit" class="btn-cadastrar">Salvar Alterações</button>
        </form>

        <a href="{% url 'menu_secretario' %}" class="link-voltar">Cancelar e voltar ao menu</a>
    </div>

</body>
</html>