{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Menu do Secretário | SEMAE</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'usuarios/base.css' %}">
    <link rel="stylesheet" href="{% static 'usuarios/menu_principal.css' %}">
</head>

<body>
    <h1>Página Inicial - Secretário(a)</h1>

    <p class="saudacao">Bem-vindo(a) <strong>{{ user.username }}</strong>! Escolha uma opção abaixo:</p>

    <div class="menu-grid">
        <a href="{% url 'lista_usuarios' %}" class="menu-card card-destaque">
            <span class="card-icon">👥</span> <h2>Gerenciar Usuários</h2>
            <p>Crie novos usuários e Gerencie existentes</p>
        </a>

        <a href="{% url 'listar_tipos_produto'%}" class="menu-card card-estoque">
            <span class="card-icon">🔍​</span> <h2>Visualizar Estoque</h2>
            <p>Consulte o estoque e seus produtos atuais</p>
        </a>
    </div>

    <div class="menu-rodape">
        <a href="{% url 'logout_usuario' %}" class="button-sair">Sair do sistema</a>
    </div>
</body>
</html>